//
   Created by SW on 2018-06-08.

//
  ============================
  =            Footer            =
  =============================
footer.footer.section.section-sm.w3-col.m12.l12(style='position: relative; z-index: 2')
    // Container Start
    .container-fluid
        .row
            .col-lg-3.col-md-7.offset-md-1.offset-lg-0
                // About
                .block.about
                    // footer logo
                    a(href='#')
                        img(src='../img/home/thorLogo.png', alt='Logo')
                    // description
                    p.alt-color
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    // terms list
                    ul.terms-list.list-inline
                        li.list-inline-item
                            a(href='#') About
                        li.list-inline-item
                            a(href='#') Terms of Use
                        li.list-inline-item
                            a(href='#') Privacy Policy
            // Link list
            .col-lg-2.offset-lg-1.col-md-3
                .block
                    h4 Site Pages
                    ul
                        li
                            a(href='#') Boston
                        li
                            a(href='#') How It works
                        li
                            a(href='#') Deals & Coupons
                        li
                            a(href='#') Articls & Tips
                        li
                            a(href='#') Terms of Services
            // Link list
            .col-lg-2.col-md-3.offset-md-1.offset-lg-0
                .block
                    h4 Admin Pages
                    ul
                        li
                            a(href='#') Boston
                        li
                            a(href='#') How It works
                        li
                            a(href='#') Deals & Coupons
                        li
                            a(href='#') Articls & Tips
                        li
                            a(href='#') Terms of Services
            // Promotion
            .col-lg-4.col-md-7
                // App promotion
                .block-2.app-promotion
                    a(href='#')
                        // Icon
                        img(src='../img/footer/phone-icon.png', alt='mobile-icon')
                    p Get the Dealsy Mobile App and Save more
                // Dsicount Coupon
                .block-2.discount-coupon
                    p
                        a(href='#') Join Thor
                        |  and Submit your Coupon with
                        a(href='#') 124563 user
                        |  daily
    // Container End