//
   Created by SW on 2018-06-08.
//
  ============================
  =            Footer            =
  =============================
footer.footer.section-sm.w3-col.m12.l12(style='position: relative; z-index: 2;')
    // Container Start
    .container-fluid
        .row
            .col-lg-10.offset-lg-1.col-md-10.offset-md-1.col-sm-12
                // About
                .block
                    // terms list
                    ul.terms-list.list-inline
                        li.list-inline-item(style='margin-right: 100px;')
                            a(href='#')
                                img(src='../img/home/logo.png', alt='Logo')
                        li.list-inline-item(style='margin: 20px 10px;')
                            a(href='#') 회사 소개
                        | |
                        li.list-inline-item(style='margin: 20px 10px;')
                            a(href='#') 이용 방법
                        | |
                        li.list-inline-item(style='margin: 20px 10px;')
                            a(href='#') 개인정보 처리방침
                .block
                    ul.row.nav.justify-content-start.top-menu.col-12(style='margin:0;')
                        li.col-lg-2.col-md-6.col-sm-12.nav-item
                            a.nav-content · Ezcoook
                        li#representation.col-lg-2.col-md-6.col-sm-12.nav-item
                            a.nav-content · 대표자 : 길세현 대표
                        li.col-lg-3.col-md-6.col-sm-12.nav-item
                            a.nav-content · 연락처 : 010-1234-5678
                        li.col-lg-3.col-md-6.col-sm-12.nav-item
                            a.nav-content · 개인정보관리책임자 : 권순우
                .block
                    ul.row.nav.justify-content-start.top-menu(style='margin:0;')
                        li.col-lg-12.col-md-12.col-sm-12.nav-item
                            a.nav-content 충북 청주시 서원구 충대로 1 충북대학교 E8-1  
                        // <li class="col-lg-4 col-md-12 col-sm-12 nav-item">
                        // <a class="nav-content">개인정보관리책임자 : 김영수</a>
                        // </li>
                        // Copylight
                        .block(style='margin-bottom:15px;')
                            ul.row.nav.justify-content-start.top-menu(style='margin:0;')
                                li.col-lg-12.col-md-12.col-sm-12.nav-item
                                    a.nav-content COPYRIGHTⓒ2018 Ezcoook ALL RIGHT RESERVED.
