//
   Created by SW on 2018-06-08.

nav.navbar.navbar-toggleable-md.main-nav.bg-light
    // Container Start
    .container
        button.navbar-toggler.navbar-toggler-right.custom-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon.fa.fa-bars
        a.navbar-brand.p-0(href='/')
           img(src='../img/home/thorLogo.png', alt='', style='height: 50px;')
        ul.navbar-nav.search-mobile
            li.nav-item.dropdown.search
                a.nav-link.pr-0.search-icon(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    i.fa.fa-search
                .dropdown-menu.dropdown-menu-right
                    .input-group
                        input#search.form-control(type='text', placeholder='Search...')
                        span.input-group-addon
                            i.fa.fa-search
        #navbarNavDropdown.collapse.navbar-collapse
            // Navigation List
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link(href='#') 메뉴
                li.nav-item
                    a.nav-link(href='#') 이벤트
                li.nav-item
                    a.nav-link(href='/seller/register_chef') 쉐프 신청하기
                li.nav-item.dropdown.dropdown-slide.active
                    a.nav-link.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | 마이페이지
                        span
                            i.fa.fa-angle-down
                    // Dropdown list
                    .dropdown-menu.dropdown-menu-right
                        a.dropdown-item(href='#') 내정보
                        a.dropdown-item(href='#') 프로필수정
                        a.dropdown-item(href='#') 결제내역
                        a.dropdown-item(href='#') 로그아웃
                // Search Icon
                li.nav-item.dropdown.dropdown-slide.search
                    a.nav-link.pr-0(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        i.fa.fa-search
                    .dropdown-menu.dropdown-menu-right
                        .input-group
                            input#search.form-control(type='text', placeholder='Search...')
                            span.input-group-addon
                                i.fa.fa-search
    // Container End

