//
   Created by SW on 2018-06-08.

//
  =====================================
  =            Top Header Menu            =
  ======================================
section.top-header
    .container
        .row
            .col-12
                // Top Header list
                ul.nav.justify-content-end.top-menu
                    li.nav-item
                        a.nav-link(href='#') 로그인
                    li.nav-item
                        a.nav-link(href='#') 회원가입
                    // <li class="nav-item dropdown">
                    // <a class="nav-link" href="#"  data-toggle="dropdown">회원가입
                    // <span><i class="fa fa-angle-down"></i></span>
                    // </a>
                    // &lt;!&ndash; Dropdown list &ndash;&gt;
                    // <div class="dropdown-menu dropdown-menu-right">
                    // <a class="dropdown-item" href="dashboard.html">Dashboard</a>
                    // <a class="dropdown-item" href="user-profile.html">User Profile</a>
                    // <a class="dropdown-item" href="login.html">Logout</a>
                    // </div>
                    // </li>
                    li.nav-item.dropdown
                        a.nav-link(href='#', data-toggle='dropdown')
                            | EN
                            span
                                i.fa.fa-angle-down
                        // Dropdown list
                        .dropdown-menu.dropdown-menu-right
                            a.dropdown-item(href='#') EN
                            a.dropdown-item(href='#') FR
