//
   Created by SW on 2018-06-08.

//
  =====================================
  =            Top Header Menu            =
  ======================================
section.top-header
    .container
        .row
            .col-12
                // Top Header list
                ul.nav.justify-content-end.top-menu
                    li.nav-item
                        a.nav-link(href='../member/Login') 로그인
                    li.nav-item
                        a.nav-link(href='../member/Join') 회원가입
                    li.nav-item
                        a.nav-link(href='#') 서비스 안내
                    li.nav-item.dropdown
                        a.nav-link(href='#', data-toggle='dropdown')
                            | KR
                            span
                                i.fa.fa-angle-down
                        // Dropdown list
                        .dropdown-menu.dropdown-menu-right
                            a.dropdown-item(href='#') KR
                            a.dropdown-item(href='#') EN
