//
   Created by SW on 2018-06-08.

//
  =====================================
  =            Top Header Menu            =
  ======================================
script(src='../../js/logout_GSH.js')
section.top-header(style='z-index: 100; position: relative;')
    .container
        .row
            .col-12
                // Top Header list
                ul.nav.justify-content-end.top-menu
                    if(!passport)
                        li.nav-item
                            a.nav-link(href='../member/Login') 로그인
                        li.nav-item
                            a.nav-link(href='../member/Join') 회원가입
                    else
                        li.nav-item
                            a.nav-link(href='javascript:void(0);', onclick='logout();') 로그아웃
                        li.nav-item
                            a.nav-link(href='#') 내계정
                    li.nav-item
                        a.nav-link(href='#') 서비스 안내
//li.nav-item.dropdown
                    //    a.nav-link(href='#', data-toggle='dropdown')
                    //        | KR
                    //        span
                    //            i.fa.fa-angle-down
                    //    // Dropdown list
                    //    .dropdown-menu.dropdown-menu-right
                    //        a.dropdown-item(href='#') KR
                    //        a.dropdown-item(href='#') EN
