doctype html
html(lang='en')
  head
    // SITE TITTLE
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Home - Dealsy
    // PLUGINS CSS STYLE
    link(href='../plugins/jquery-ui/jquery-ui.min.css', rel='stylesheet')
    // Bootstrap
    link(href='../plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Font Awesome
    link(href='../plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    // Select 2
    link(href='../plugins/selectbox/select_option1.css', rel='stylesheet')
    // Owl Carousel
    link(href='../plugins/owl-carousel/assets/owl.carousel.min.css', rel='stylesheet', media='screen')
    // Owl Carousel Theme
    link(href='../plugins/owl-carousel/assets/owl.theme.green.min.css', rel='stylesheet', media='screen')
    // Fancy Box
    link(href='../plugins/fancybox/jquery.fancybox.pack.css', rel='stylesheet')
    // Datepicker
    link(href='../plugins/datepicker/datepicker.min.css', rel='stylesheet')
    // CUSTOM CSS
    link(href='../stylesheets/style_HNH.css', rel='stylesheet')
    // FAVICON
    link(href='../img/favicon.png', rel='shortcut icon')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body.body-wrapper

    include components/topHeader
    include components/navBar_KSW
    //
      ===============================
      =            Hero Area            =
      ================================
    section.hero-area.bg-1.text-center
      // Container Start
      .container
        .row
          .col-md-12
            // Header Contetnt
            .content-block
              h1 홈다이닝 매칭 서비스
              p
                | 우리집 주방에서 요리하고 수익을 창출할 수 있는 기회!
                br
                |  지금 지원하세요!
            // Advance Search
            .advance-search
              form(action='#')
                .row
                  // Category List
                  .col-lg-6.col-md-12
                    select#category.select-box.form-control
                      option(selected='', disabled='') 지역을 선택해주세요
                      option 청주
                      option 판교
                      option 대전
                      option 구미
                  // Store Search
                  .col-lg-6.col-md-12
                    .block.d-flex
                      input#search.form-control.mb-2.mr-sm-2.mb-sm-0(type='text', placeholder='먹고 싶은 음식 이름')
                      // Search Button
                      button.btn.btn-secondary SEARCH
      // Container End
    //
      ===================================
      =            Client Slider            =
      ====================================
    section.clients-slider-wrapper.section.pb-0
      // Container Start
      .container
        .row
          .col-md-12
            // Client Slider
            .clients-slider.owl-carousel.owl-theme
              // Client 01
              .item
                a(href='#')
                  // Slider Image
                  img(src='../img/category-slider/chicken.gif', alt='store-logo')
              // Client 02
              .item
                a(href='#')
                  // Slider Image
                  img(src='../img/category-slider/sushi.png', alt='store-logo')
              // Client 03
              .item
                a(href='#')
                  // Slider Image
                  img(src='../img/category-slider/chicken.gif', alt='store-logo')
              // Client 04
              .item
                a(href='#')
                  // Slider Image
                  img(src='../img/category-slider/sushi.png', alt='store-logo')
              // Client 05
              .item
                a(href='#')
                  // Slider Image
                  img(src='../img/category-slider/chicken.gif', alt='store-logo')
              // Client 06
              .item
                a(href='#')
                  // Slider Image
                  img(src='../img/category-slider/sushi.png', alt='store-logo')
              // Client 07
              .item
                a(href='#')
                  // Slider Image
                  img(src='../img/category-slider/chicken.gif', alt='store-logo')
              // Client 08
              .item
                a(href='#')
                  // Slider Image
                  img(src='../img/category-slider/sushi.png', alt='store-logo')
              // Client 09
              .item
                a(href='#')
                  // Slider Image
                  img(src='../img/category-slider/chicken.gif', alt='store-logo')
      // Container End
    //
      ==========================================
      =            All Category Section            =
      ===========================================
    section.deals-categories.section
      // Container Start
      .container
        .row
          .col-12
            // Section title
            .section-title
              h2 모든 음식 카테고리
            .row.border-bottom
              // Category list
              .col-lg-3.offset-lg-0.col-md-5.offset-md-1.col-sm-6.col-6
                ul.category-list
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | 한식
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | 분식
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | 백반
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | 찌개
              // /Category List
              // Category list
              .col-lg-3.col-md-5.col-sm-6.col-6
                ul.category-list
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | 중식
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | 보쌈/족발
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | 해산물
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | 해장국
              // /Category List
              // Category list
              .col-lg-3.offset-lg-0.col-md-5.offset-md-1.col-sm-6.col-6
                ul.category-list
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | 일식
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | 돈까스
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | 치킨
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | 피자
              // /Category List
              // Category list
              .col-lg-3.col-md-5.col-sm-6.col-6
                ul.category-list
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | 양식
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | 스테이크
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | 스파게티
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | 필라프
              // /Category List
      // Container End
    //
      ===========================================
      =            Popular deals section            =
      ============================================
    section.popular-deals.section
      .container
        .row
          .col-md-12
            .section-title
              h2 오늘의 인기 메뉴
        .row
          // offer 01
          .col-sm-12.col-lg-6
            // deal card
            .deal-item.bg-light
              .media
                // Image Content
                .img-content.align-self-center
                  a(href='#')
                    // Card Image
                    img(src='img/popular-offer/popular-offer-1.png', alt='store-02')
                  // Saving
                  span 한식
                // Media Body
                .media-body
                  // Card Title
                  h5.mt-0
                    br
                    | 맛있는 비빔밥과 정갈한 반찬들
                  // Deal list
                  ul.list-inline
                    li.list-inline-item
                      a.btn.btn-dual(href='#', data-toggle='modal')
                        span.upper 자세히 보기
                        span.lower(color='white') 123123&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    li.list-inline-item
                      a(href='#') 충북 청주시
                      span.favorite
                        i.fa.fa-star-o
          // offer 02
          .col-sm-12.col-lg-6
            // deal card
            .deal-item.bg-light
              .media
                // Image Content
                .img-content.align-self-center
                  a(href='#')
                    // Card Image
                    img(src='img/popular-offer/popular-offer-1.png', alt='store-02')
                  // Saving
                  span 한식
                // Media Body
                .media-body
                  // Card Title
                  h5.mt-0
                    br
                    | 대구 전봇대 막창 최고예요
                  // Deal list
                  ul.list-inline
                    li.list-inline-item
                      a.btn.btn-dual(href='#', data-toggle='modal')
                        span.upper 자세히 보기
                        span.lower(color='white') 123123&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    li.list-inline-item
                      a(href='#') 대구광역시
                      span.favorite
                        i.fa.fa-star-o
          // offer 03
          .col-sm-12.col-lg-6
            // deal card
            .deal-item.bg-light
              .media
                // Image Content
                .img-content.align-self-center
                  a(href='#')
                    // Card Image
                    img(src='img/popular-offer/popular-offer-1.png', alt='store-02')
                  // Saving
                  span 한식
                // Media Body
                .media-body
                  // Card Title
                  h5.mt-0
                    br
                    | 김수미 간장게장
                  // Deal list
                  ul.list-inline
                    li.list-inline-item
                      a.btn.btn-dual(href='#', data-toggle='modal')
                        span.upper 자세히 보기
                        span.lower(color='white') 123123&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    li.list-inline-item
                      a(href='#') 서울특별시
                      span.favorite
                        i.fa.fa-star-o
          // offer 04
          .col-sm-12.col-lg-6
            // deal card
            .deal-item.bg-light
              .media
                // Image Content
                .img-content.align-self-center
                  a(href='#')
                    // Card Image
                    img(src='img/popular-offer/popular-offer-1.png', alt='store-02')
                  // Saving
                  span 분식
                // Media Body
                .media-body
                  // Card Title
                  h5.mt-0
                    br
                    | 마이구미보다 맛있는 구미 떡볶이
                  // Deal list
                  ul.list-inline
                    li.list-inline-item
                      a.btn.btn-dual(href='#', data-toggle='modal')
                        span.upper 자세히 보기
                        span.lower(color='white') 123123&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    li.list-inline-item
                      a(href='#') 경북 구미시
                      span.favorite
                        i.fa.fa-star-o
          // offer 05
          .col-sm-12.col-lg-6
            // deal card
            .deal-item.bg-light
              .media
                // Image Content
                .img-content.align-self-center
                  a(href='#')
                    // Card Image
                    img(src='img/popular-offer/popular-offer-1.png', alt='store-02')
                  // Saving
                  span 베이커리
                // Media Body
                .media-body
                  // Card Title
                  h5.mt-0
                    br
                    | 성심당보다 맛있는 빵
                  // Deal list
                  ul.list-inline
                    li.list-inline-item
                      a.btn.btn-dual(href='#', data-toggle='modal')
                        span.upper 자세히 보기
                        span.lower 123123&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    li.list-inline-item
                      a(href='#') 대전광역시
                      span.favorite
                        i.fa.fa-star-o
          // offer 06
          .col-sm-12.col-lg-6
            // deal card
            .deal-item.bg-light
              .media
                // Image Content
                .img-content.align-self-center
                  a(href='#')
                    // Card Image
                    img(src='img/popular-offer/popular-offer-1.png', alt='store-02')
                  // Saving
                  span 분식
                // Media Body
                .media-body
                  // Card Title
                  h5.mt-0
                    br
                    | 남한에서 제일 맛있는 평양냉면
                  // Deal list
                  ul.list-inline
                    li.list-inline-item
                      a.btn.btn-dual(href='#', data-toggle='modal')
                        span.upper 자세히 보기
                        span.lower 123123&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    li.list-inline-item
                      a(href='#') 경기 평택
                      span.favorite
                        i.fa.fa-star-o
        .row.text-center
          .col-12
            a.btn.btn-main.mt-30(href='#') 인기 메뉴 더 보기


    include components/footer_KSW

    // JAVASCRIPTS
    script(src='../plugins/jquery/jquery.min.js')
    script(src='../plugins/jquery-ui/jquery-ui.min.js')
    script(src='../plugins/tether/js/tether.min.js')
    script(src='../plugins/raty/jquery.raty-fa.js')
    script(src='../plugins/bootstrap/js/bootstrap.min.js')
    script(src='../plugins/selectbox/jquery.selectbox-0.1.3.min.js')
    script(src='../plugins/owl-carousel/owl.carousel.min.js')
    script(src='../plugins/fancybox/jquery.fancybox.pack.js')
    script(src='../plugins/smoothscroll/SmoothScroll.min.js')
    script(src='../plugins/datepicker/bootstrap-datepicker.min.js')
    script(src='../plugins/bootstrap-notify/bootstrap-notify.min.js')
    script(src='../js/custom.js')
