//
   Created by SW on 2018-10-22.

doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Title
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='../plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        link(href='../plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Karma')
        link(rel='stylesheet', href='../stylesheets/calendar_KSW.css')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet', href='../stylesheets/style_HNH.css')
        link(rel='stylesheet', href='../stylesheets/Table_KSW.css')
        link(rel='stylesheet', href='../stylesheets/menuManagement_KKY.css')

    body.body-wrapper

        include components/topHeader
        include components/navBar_KSW

        #calendar(style='margin-top: 80px; margin-bottom: 40px;')
        .table-users
            .table-header
                | 11월 20일 주문관리
                button.btn.btn-basic(style='float: right; color: black;') 선택 예약취소

            table(cellspacing='0')
                tbody
                    tr.col-xs-12.col-sm-12.col-md-12.col-lg-12
                        th(style='width: 4%;')
                            label.my-container
                                input(type='checkbox', checked='checked')
                                span.checkmark
                        th(style='width: 10%;') 예약자
                        th(style='width: 12%;') 예약시간
                        th(style='width: 12%;') 예약유형
                        th(style='width: 12%;') 테이블명
                        th(style='width: 6%;') 메뉴
                        th(style='width: 6%;') 수량
                        th(style='width: 10%;') 준비상태
                        th(style='width: 16%;') 판매상태
                    tr.col-xs-12.col-sm-12.col-md-12.col-lg-12
                        td
                            label.my-container
                                input(type='checkbox', checked='checked')
                                span.checkmark
                        td
                            img(src='../img/menu/sushi.jpg', alt='')
                        td 12:00~14:00
                        td Private/Fixed
                        td 하늘테이블(런치)
                        td 엄마손집밥
                        td 2
                        td
                            label.switch
                                input(type='checkbox')
                                span.slider.round
                            p 준비중
                        td
                            button.btn.btn-danger(type='button') 판매완료(클릭)
                    tr.col-xs-12.col-sm-12.col-md-12.col-lg-12
                        td
                            label.my-container
                                input(type='checkbox', checked='checked')
                                span.checkmark
                        td
                            img(src='../img/menu/sushi.jpg', alt='')
                        td 12:00~14:00
                        td Private/Fixed
                        td 하늘테이블(런치)
                        td 엄마손집밥
                        td 2
                        td
                            label.switch
                                input(type='checkbox')
                                span.slider.round
                            p 준비중
                        td
                            button.btn.btn-danger(type='button') 판매완료(클릭)
                    tr.col-xs-12.col-sm-12.col-md-12.col-lg-12
                        td
                            label.my-container
                                input(type='checkbox', checked='checked')
                                span.checkmark
                        td
                            img(src='../img/menu/sushi.jpg', alt='')
                        td 12:00~14:00
                        td Private/Fixed
                        td 하늘테이블(런치)
                        td 엄마손집밥
                        td 2
                        td
                            label.switch
                                input(type='checkbox')
                                span.slider.round
                            p 준비중
                        td
                            button.btn.btn-danger(type='button') 판매완료(클릭)
                    tr.col-xs-12.col-sm-12.col-md-12.col-lg-12
                        td
                            label.my-container
                                input(type='checkbox', checked='checked')
                                span.checkmark
                        td
                            img(src='../img/menu/sushi.jpg', alt='')
                        td 12:00~14:00
                        td Private/Fixed
                        td 하늘테이블(런치)
                        td 엄마손집밥
                        td 2
                        td
                            label.switch
                                input(type='checkbox')
                                span.slider.round
                            p 준비중
                        td
                            button.btn.btn-danger(type='button') 판매완료(클릭)

        br
        br
        br
        include components/footer_KSW

    script(src='../plugins/jquery/jquery.min.js')
    script(src='../plugins/jquery-ui/jquery-ui.min.js')
    script(src='../plugins/tether/js/tether.min.js')
    script(src='../plugins/raty/jquery.raty-fa.js')
    script(src='../plugins/bootstrap/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='../js/calendar_KSW.js')
