//
   Created by SW on 2018-11-01.

doctype html
html(lang='en')
    head
        // SITE TITTLE
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Cupone Submit - Dealsy
        // PLUGINS CSS STYLE
        link(href='../plugins/jquery-ui/jquery-ui.min.css', rel='stylesheet')
        // Bootstrap
        link(href='../plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        // Font Awesome
        link(href='../plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        // Select 2
        link(href='../plugins/selectbox/select_option1.css', rel='stylesheet')
        // Owl Carousel
        link(href='../plugins/owl-carousel/assets/owl.carousel.min.css', rel='stylesheet', media='screen')
        // Owl Carousel Theme
        link(href='../plugins/owl-carousel/assets/owl.theme.green.min.css', rel='stylesheet', media='screen')
        // Fancy Box
        link(href='../plugins/fancybox/jquery.fancybox.pack.css', rel='stylesheet')
        // Datepicker
        link(href='../plugins/datepicker/datepicker.min.css', rel='stylesheet')
        // CUSTOM CSS
        link(rel='stylesheet', href='../stylesheets/style_HNH.css')
        link(rel='stylesheet', href='../stylesheets/Table_KSW.css')
        link(rel='stylesheet', href='../stylesheets/menuManagement_KKY.css')
        link(rel='stylesheet', href='../stylesheets/calendar_KSW.css')
        // FAVICON
        link(href='../img/favicon.png', rel='shortcut icon')
        // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
          script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
          script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    body.body-wrapper
        //
          =====================================
          =            Top Header Menu            =
          ======================================
        include components/topHeader
        include components/navBar_KSW
            // Container End
        //
          ================================
          =            Page Title            =
          =================================
        section.user-profile.section
            .container
                .row
                    include components/sideBarSeller_KKY.pug
                    .col-md-10.offset-md-1.col-lg-9.offset-lg-0
                        .widget.welcome-message
                            h3 주문 관리
                            p 주문, 예약을 관리할 수 있습니다.
                            // Container End
                        submit-coupon-sec.section
                            .container
                                .row
                                    #calendar(style='margin-top: 80px; margin-bottom: 40px;')
                                    .table-users
                                        .table-header
                                            | 11월 20일 주문관리
                                            button.btn.btn-basic(style='float: right; color: black;') 선택 예약취소

                                        table(cellspacing='0')
                                            tbody
                                                tr.col-xs-12.col-sm-12.col-md-12.col-lg-12
                                                    th(style='width: 4%;')
                                                        label.my-container
                                                            input(type='checkbox', checked='checked')
                                                            span.checkmark
                                                    th(style='width: 10%;') 예약자
                                                    th(style='width: 8%;') 예약시간
                                                    th(style='width: 11%;') 예약유형
                                                    th(style='width: 11%;') 메뉴
                                                    th(style='width: 6%;') 수량
                                                    th(style='width: 10%;') 준비상태
                                                    th(style='width: 16%;') 판매상태
                                                tr.col-xs-12.col-sm-12.col-md-12.col-lg-12
                                                    td
                                                        label.my-container
                                                            input(type='checkbox', checked='checked')
                                                            span.checkmark
                                                    td
                                                        img(src='../img/menu/sushi.jpg', alt='')
                                                    td 12:00
                                                    td 매장식사
                                                    td 엄마손집밥
                                                    td 2
                                                    td
                                                        label.switch
                                                            input(type='checkbox')
                                                            span.slider.round
                                                        p 준비중
                                                    td
                                                        button.btn.btn-danger(type='button') 판매완료(클릭)
                                                tr.col-xs-12.col-sm-12.col-md-12.col-lg-12
                                                    td
                                                        label.my-container
                                                            input(type='checkbox', checked='checked')
                                                            span.checkmark
                                                    td
                                                        img(src='../img/menu/sushi.jpg', alt='')
                                                    td 12:00
                                                    td 포장
                                                    td 엄마손집밥
                                                    td 2
                                                    td
                                                        label.switch
                                                            input(type='checkbox')
                                                            span.slider.round
                                                        p 준비중
                                                    td
                                                        button.btn.btn-danger(type='button') 판매완료(클릭)
                                                tr.col-xs-12.col-sm-12.col-md-12.col-lg-12
                                                    td
                                                        label.my-container
                                                            input(type='checkbox', checked='checked')
                                                            span.checkmark
                                                    td
                                                        img(src='../img/menu/sushi.jpg', alt='')
                                                    td 12:00
                                                    td 배달
                                                    td 엄마손집밥
                                                    td 2
                                                    td
                                                        label.switch
                                                            input(type='checkbox')
                                                            span.slider.round
                                                        p 준비중
                                                    td
                                                        button.btn.btn-danger(type='button') 판매완료(클릭)
                                                tr.col-xs-12.col-sm-12.col-md-12.col-lg-12
                                                    td
                                                        label.my-container
                                                            input(type='checkbox', checked='checked')
                                                            span.checkmark
                                                    td
                                                        img(src='../img/menu/sushi.jpg', alt='')
                                                    td 12:00
                                                    td 매장식사
                                                    td 엄마손집밥
                                                    td 2
                                                    td
                                                        label.switch
                                                            input(type='checkbox')
                                                            span.slider.round
                                                        p 준비중
                                                    td
                                                        button.btn.btn-danger(type='button') 판매완료(클릭)
        //
          ============================
          =            Footer            =
          =============================
            // Container End
        // Footer Bottom
        include components/footer_KSW
        // CUPON MODAL

        // JAVASCRIPTS
    script(src='../plugins/jquery/jquery.min.js')
    script(src='../plugins/jquery-ui/jquery-ui.min.js')
    script(src='../plugins/tether/js/tether.min.js')
    script(src='../plugins/raty/jquery.raty-fa.js')
    script(src='../plugins/bootstrap/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='../js/calendar_KSW.js')
