doctype html
html(lang='en')
    head
        // SITE TITTLE
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Register Chef
        // PLUGINS CSS STYLE
        link(href='../plugins/jquery-ui/jquery-ui.min.css', rel='stylesheet')
        // Bootstrap
        link(href='../plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        // Font Awesome
        link(href='../plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        // Select 2
        link(href='../plugins/selectbox/select_option1.css', rel='stylesheet')
        // Owl Carousel
        link(href='../plugins/owl-carousel/assets/owl.carousel.min.css', rel='stylesheet', media='screen')
        // Owl Carousel Theme
        link(href='../plugins/owl-carousel/assets/owl.theme.green.min.css', rel='stylesheet', media='screen')
        // Fancy Box
        link(href='../plugins/fancybox/jquery.fancybox.pack.css', rel='stylesheet')
        // Datepicker
        link(href='../plugins/datepicker/datepicker.min.css', rel='stylesheet')
        // CUSTOM CSS
        link(href='../stylesheets/style_HNH.css', rel='stylesheet')
        link(href='../stylesheets/uploadFile_KKY.css', rel='stylesheet')
        // FAVICON
        link(href='../img/favicon.png', rel='shortcut icon')

    body.body-wrapper
        //
          =====================================
          =            Top Header Menu            =
          ======================================
        include components/topHeader_KSW
        include components/navBar_KSW
        // Container End
        //
          ===============================
          =            Hero Area            =
          ================================
        section.hero-area.bg-5.text-center
            // Container Start
            .container(style='margin-bottom:160px ')
                .row
                    .col-lg-12.col-md-12.col-xs-12
                        // Header Contetnt
                        .content-block
                            h2 THOR의 Chef가 되어 수입을 올려보세요
                            p
                                | 우리집 주방에서 요리하고 수익을 창출할 수 있는 기회!
                                br
                                |  지금 지원하세요!
                        .row
                            // Store Search
                            .col-lg-12.col-md-12.col-xs-12
                                .block.align-items-end.flex-column
                                    // Start Button
                                    .scrollbtn
                                        a(href='#scroll1', data-target='#scroll1')
                                            img(src='./img/register_chef/small_start_button.png', style='width: 180px;height:180px')
                .row
                    .content-block.col-lg-4.col-md-4(style='padding:50px')
                        h3 Thor chef를 추천하는 이유
                        h6 Thor는 chef가 제공하는 음식의 종류와 관계 없이 간편하고 안전하게 수입을 창출하도록 지원
                    .content-block.col-lg-4.col-md-4(style='padding:50px')
                        h3
                            | 레지스팅에 관한 결정은
                            br
                            |  chef마음대로
                        h6 Thor에서 예약가능일, 가격, 장소 이용규칙, 손님과의 소통방법 등은 모두 chef가 결정합니다.
                    .content-block.col-lg-4.col-md-4(style='padding:50px')
                        h3 운영 전반에 걸친 든든한 지원
                        h6 Thor는 chef가 제공하는 음식의 종류와 관계 없이 간편하고 안전하게 수입을 창출하도록 지원
        // Container End
        //
          ==========================================
          =            All Category Section            =
          ===========================================
        form(action='/Register_Chef', method='post', enctype='multipart/form-data')
            section#scroll1.deals-categories.section
                // Container Start
                .container
                    .row
                        .col-12
                            // Section title
                            .section-title.scroll
                                h2 신분증 인증하기!
                            .row.border-bottom.justify-content-center
                                .page(style='margin-top: 10px;')
                                    // Our File Inputs
                                    .wrap-custom-file
                                        input#img_certi(type='file', name='imageIden', accept='.gif, .jpg, .png, .jpeg')
                                        label(for='img_certi')
                                            span UPLOAD
                                            i.fa.fa-plus-circle
                                    // End Page Wrap
                                .col-md-2.justify-content-center
                                    .form-group
                                        label(for='seller_age') 판매자 나이
                                        input#seller_age.form-control(type='text', name='age', width='30px', readonly='')
                                    .form-group
                                        label(for='seller_gen') 판매자 성별
                                        input#seller_gen.form-control(type='text', name='gender', readonly='')
                // Container End

            section.popular-deals.section.border-bottom
                .container
                    .row
                        .col-md-12
                            .section-title
                                h2 핸드폰 인증하기!
                            .row.justify-content-center
                                h7 휴대폰 번호
                                select#txtMobile1.form-control.col-md-1(name='mobile1')
                                    option(value='') 선택
                                    option(value='011') 011
                                    option(value='016') 016
                                    option(value='017') 017
                                    option(value='019') 019
                                    option(value='010') 010
                                h7 -
                                input#txtMobile2.form-control.col-md-1(type='text', name='mobile2', onkeypress='onlyNumber();')
                                h7 -
                                input#txtMobile3.form-control.col-md-1(type='text', name='mobile3')
                    .row.text-center
                        .col-12
                            a.btn.btn-main.mt-30(href='store-single.html', style='background-color:#80c269') 인증하기
            //
              ===========================================
              =            Popular deals section            =
              ============================================
            section.popular-deals.section.border-bottom
                .container
                    .row
                        .col-md-12
                            .section-title
                                h2 판매자 정보 입력하기!
                            .row.justify-content-center
                                h5 얼굴을 확인할 수 있는 사진을 올려주세요~
                            .row.justify-content-center
                                .page(style='margin-top: 10px;')
                                    // Our File Inputs
                                    .wrap-custom-file
                                        input#img_idcard(type='file', name='imageFace', accept='.gif, .jpg, .png, .jpeg')
                                        label(for='img_idcard')
                                            span Select Image
                                            i.fa.fa-plus-circle
                                    // End Page Wrap
                                .col-md-4.justify-content-center
                                    label(for='seller_introduce') 자기 소개
                                    textarea#seller_introduce.form-control(rows='5', name='text', cols='70', placeholder='')
            //
              ===========================================
              =            Popular deals section            =
              ============================================
            section.popular-deals.section
                .container
                    .row
                        .col-md-12
                            .section-title
                                h2 매장등록 하기!
                            .row.justify-content-center
                                h5 판매하실 매장의 정보를 입력해 주세요~!!
                            .container
                                .row
                                    .col-md-8.offset-md-2
                                        // Store name
                                        .form-group
                                            label(for='store_name') 매장 이름
                                            input#store_name.form-control(type='text', name='shopname')
                                        // Store address
                                        .form-group
                                            label(for='store_add') 매장 주소
                                            .row
                                                .col-md-9
                                                    input#store_add.form-control(type='text', name='address', readonly='')
                                                .col-md-2
                                                    a.btn.btn-main(href='store-single.html') 주소검색
                                        // Introduce Store
                                        .form-group.mb-30
                                            label(for='store_intro') 매장 소개
                                            textarea#store_intro.form-control(rows='5', name='shopText', cols='100', placeholder='')
                                        .form-group.mb-30.row
                                            div(style='margin-right:10px;')
                                                input#checkbox1(type='checkbox', name='optionDelivery', checked='checked', style='margin-left:15px')
                                                label(for='checkbox1') 배달
                                            div(style='margin-right:10px;')
                                                input#checkbox2(type='checkbox', name='optionPacking')
                                                label(for='checkbox2') 포장
                                            div(style='margin-right:10px;')
                                                input#checkbox3(type='checkbox', name='optionVisit')
                                                label(for='checkbox3') 방문
                                        .form-group.mb-30
                                            label(for='oper_time') 운영 시간
                                            .row
                                                #oper_time.btn-group(data-toggle='buttons', style='margin:auto;')
                                                    label.btn-sm.btn.btn-week
                                                        input(type='checkbox', autocomplete='off', name='optionMon')
                                                        | 월
                                                    label.btn-sm.btn.btn-week
                                                        input(type='checkbox', autocomplete='off', name='optionTues')
                                                        | 화
                                                    label.btn-sm.btn.btn-week
                                                        input(type='checkbox', autocomplete='off', name='optionWen')
                                                        | 수
                                                    label.btn-sm.btn.btn-week
                                                        input(type='checkbox', autocomplete='off', name='optionThur')
                                                        | 목
                                                    label.btn-sm.btn.btn-week
                                                        input(type='checkbox', autocomplete='off', name='optionFri')
                                                        | 금
                                                    label.btn-sm.btn.btn-week
                                                        input(type='checkbox', autocomplete='off', name='optionSat')
                                                        | 토
                                                    label.btn-sm.btn.btn-week
                                                        input(type='checkbox', autocomplete='off', name='optionSun')
                                                        | 일
                                                .row.col-md-3.justify-content-center
                                                    input#txtopertime1.form-control.col-md-5(type='text', onkeypress='onlyNumber();', name='optionTime1')
                                                    h5(style='margin-top:10px') :
                                                    input#txtopertime2.form-control.col-md-5(type='text', name='optionTime2')
                                            .form-group.row.col-md-12
                                                label.control-label.requiredField.label-title 매장 이미지
                                                .page.justify-content-center(style='margin-top: 10px;')
                                                    // Our File Inputs
                                                    .wrap-custom-file
                                                        input#image1(type='file', name='imageStore', accept='.gif, .jpg, .png, .jpeg')
                                                        label(for='image1')
                                                            span Select Image
                                                            i.fa.fa-plus-circle
                                                    .wrap-custom-file
                                                        input#image2(type='file', name='imageStore', accept='.gif, .jpg, .png, .jpeg')
                                                        label(for='image2')
                                                            span Select Image
                                                            i.fa.fa-plus-circle
                                                    .wrap-custom-file
                                                        input#image3(type='file', name='imageStore', accept='.gif, .jpg, .png, .jpeg')
                                                        label(for='image3')
                                                            span Select Image
                                                            i.fa.fa-plus-circle
                                                    .wrap-custom-file
                                                        input#image4(type='file', name='imageStore', accept='.gif, .jpg, .png, .jpeg')
                                                        label(for='image4')
                                                            span Select Image
                                                            i.fa.fa-plus-circle
                                                    // End Page Wrap
            .row.text-center
                .col-md-12.col-lg-12
                    a.btn.btn-main.mt-30(href='store-single.html', style='background-color:#22ac38') REGISTER

        include components/footer_KSW

        script(src='../plugins/jquery/jquery.min.js')
        script(src='../plugins/jquery-ui/jquery-ui.min.js')
        script(src='../plugins/tether/js/tether.min.js')
        script(src='../plugins/raty/jquery.raty-fa.js')
        script(src='../plugins/bootstrap/js/bootstrap.min.js')
        script(src='../plugins/selectbox/jquery.selectbox-0.1.3.min.js')
        script(src='../plugins/owl-carousel/owl.carousel.min.js')
        script(src='../plugins/fancybox/jquery.fancybox.pack.js')
        script(src='../plugins/smoothscroll/SmoothScroll.min.js')
        script(src='../plugins/datepicker/bootstrap-datepicker.min.js')
        script(src='../plugins/bootstrap-notify/bootstrap-notify.min.js')
        script(src='../js/custom.js')
        script(type='text/javascript', src='http://code.jquery.com/jquery-2.1.0.min.js')
        script(src='../js/register_HNH.js')
        script(src='../js/UploadFile_KSW.js')
        script(src='../js/MenuSubmit_KSW.js')
